<div class="row">
    <div class="col-lg-12">
      <nb-card>
        <nb-card-header>Bill History
        </nb-card-header>
        <nb-card-body>
          <div class="table-responsive">
            <table class="table table-bordered">
              <thead>
                <th>Sr No.</th>
                <th>Paid Amount</th>
                <th>Rest Amount</th>
                <th>Total Amount</th>
                <th>Created Date</th>
              </thead>
              <tbody>
                <tr *ngFor="let bill of customerBillHistoryArray; let i = index">
                  <td>{{ i + 1 }}</td>
                  <td>{{ bill.paidAmount }}</td>
                  <td>{{ bill.restAmount }}</td>
                  <td>{{ bill.billAmount }}</td>
                  <td>{{ bill.createdAt | date: 'medium' }}</td>
                </tr>
                <tr *ngIf="customerBillHistoryArray.length === 0">
                    <td colspan="5">No Data Available</td>
                </tr>
              </tbody>
            </table>
          </div>
        </nb-card-body>
      </nb-card>
  </div>
</div>