<div class="row">
    <div class="col-lg-12">
      <nb-card>
        <nb-card-header>Customer Bills
        </nb-card-header>
        <nb-card-body>
          <button class="float-right" nbButton status="primary" [routerLink]="['/pages/customers/create-customer']" routerLinkActive="router-link-active" >Add</button>
          <div class="mt-2 table-responsive">
            <table class="table table-boarder">
              <thead>
                <th>Sr No.</th>
                <th>Name</th>
                <th>Email</th>
                <th>Mobile Number</th>
                <th>Action</th>
              </thead>
              <tbody>
                <!-- <tr *ngFor="let customer of customersDataArray; let i = index">
                  <td>{{ i + 1}}</td>
                  <td>{{ customer.firstName + ' ' + customer.lastName }}</td>
                  <td>{{ customer.email }}</td>
                  <td>{{ customer.mobileNumber }}</td>
                  <td></td>
                </!--> -->
              </tbody>
            </table>
          </div>
        </nb-card-body>
      </nb-card>
  </div>
</div>